@{
    Layout = "";
}
@inject Microsoft.AspNetCore.Identity.UserManager<BL.ApplicationUser> USERmANAGER
@model MadmounMobileApp.Models.HomePageModel
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="rtl">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Thumb View - Vuexy - Bootstrap HTML admin template</title>
    <link rel="apple-touch-icon" href="~/Admin/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Admin/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/vendors/css/vendors-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/vendors/css/charts/apexcharts.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/vendors/css/extensions/tether-theme-arrows.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/vendors/css/extensions/tether.min.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/vendors/css/extensions/shepherd-theme-default.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/vendors/css/file-uploaders/dropzone.min.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/vendors/css/tables/datatable/extensions/dataTables.checkboxes.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/colors.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/components.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/core/menu/menu-types/vertical-menu.css">
  
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/pages/dashboard-analytics.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/pages/card-analytics.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/plugins/tour/tour.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/plugins/file-uploaders/dropzone.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/pages/data-list-view.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-rtl/custom-rtl.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/css/style-rtl.css">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body  class="vertical-layout vertical-menu-modern dark-layout 2-columns  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="dark-layout">
    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto">
                    <a class="navbar-brand" href="~/Admin/">
                        <div class="brand-logo"></div>
                        <h2 class="brand-text mb-0">تطبيق مضمون</h2>
                    </a>
                </li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item">
                    <a href="#"><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">ممثلي الخدمات</span></a>

                    <ul class="menu-content">

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/CreateSrRep/Index"><i class="feather icon-user"></i><span class="menu-item" data-i18n="eCommerce">اضافة ممثلي الخدمة</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/SrOffAndSrRep/ListUsers2"><i class="feather icon-users"></i><span class="menu-item" data-i18n="Analytics">جميع ممثلي الخدمات</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/CreateSrRep/IndexRayadah"><i class="feather icon-user"></i><span class="menu-item" data-i18n="eCommerce">اضافة ممثلي ريادة</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/SrOffAndSrRep/ListUsersRayadah"><i class="feather icon-users"></i><span class="menu-item" data-i18n="Analytics"> جميع ممثلي ريادة</span></a>
                        </li>




                        <li class=" nav-item">
                            <a class="ac" href="/Admin/SrRepCity/Index"><i class="feather icon-octagon"></i><span class="menu-item" data-i18n="eCommerce">مدن ممثلي الخدمات</span></a>
                        </li>

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/Payment8"><i class="feather icon-layers"></i><span class="menu-item" data-i18n="eCommerce">عدد ممثلي الخدمة </span></a>
                        </li>




                    </ul>
                </li>


                <li class=" nav-item">
                    <a href="#"><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">مقدمي الخدمات</span></a>

                    <ul class="menu-content">

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/SrOffAndSrRep/ListUsers"><i class="feather icon-users"></i><span class="menu-item" data-i18n="Analytics"> مقدمي الخدمات</span></a>
                        </li>


                        <li class=" nav-item">
                            <a class="ac" href="/Admin/SrOffCity/Index"><i class="feather icon-octagon"></i><span class="menu-item" data-i18n="eCommerce">مدن مقدمي الخدمات</span></a>
                        </li>

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/Payment7"><i class="feather icon-layers"></i><span class="menu-item" data-i18n="eCommerce">عدد مقدمي الخدمات <br />حسب الخدمة و المدينة </span></a>
                        </li>



                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/noOffByCity"><i class="feather icon-check-circle"></i><span class="menu-item" data-i18n="eCommerce"> عدد<br />  مقدمي الخدمات حسب <br />  المدن</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/SalesRecord/ShowData"><i class="feather icon-check-circle"></i><span class="menu-item" data-i18n="eCommerce">رسم بياني لمقدمي الخدمات </span></a>
                        </li>
                    </ul>
                </li>




                <li class=" nav-item">
                    <a href="#"><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">العملاء</span></a>

                    <ul class="menu-content">

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/LoginHistory/Index"><i class="feather icon-user-check"></i><span class="menu-item" data-i18n="eCommerce">عدد العملاء الفعالين</span></a>
                        </li>

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/ActiveCustomers/ShowData"><i class="feather icon-user-check"></i><span class="menu-item" data-i18n="eCommerce">رسم بياني يوضح عدد العملاء الفعالين</span></a>
                        </li>



                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Client/Index"><i class="feather icon-users"></i><span class="menu-item" data-i18n="eCommerce">العملاء</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/SrReq/ListReqs"><i class="feather icon-users"></i><span class="menu-item" data-i18n="Analytics"> طالبي الخدمات</span></a>
                        </li>

                    </ul>
                </li>




                <li class=" nav-item">
                    <a href="#"><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">المدن والخدمات</span></a>

                    <ul class="menu-content">
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/City/Index"><i class="feather icon-octagon"></i><span class="menu-item" data-i18n="eCommerce"> المدن </span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Area/Index"><i class="feather icon-layers"></i><span class="menu-item" data-i18n="eCommerce"> المناطق</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Service/Index"><i class="feather icon-shopping-cart"></i><span class="menu-item" data-i18n="eCommerce">الخدمات</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/ServiceCategory/Index"><i class="feather icon-server"></i><span class="menu-item" data-i18n="eCommerce">اقسام الخدمات</span></a>
                        </li>

                    </ul>
                </li>





                <li class=" nav-item">
                    <a href="#"><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">حركة الخدمات</span></a>

                    <ul class="menu-content">
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/ServicesRequired/Index"><i class="feather icon-shopping-cart"></i><span class="menu-item" data-i18n="eCommerce">جدول الخدمات المطلوبة</span></a>
                        </li>

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/ServicesApproved/Index"><i class="feather icon-shopping-cart"></i><span class="menu-item" data-i18n="eCommerce">جدول قبول الخدمات <br /> من مقدم الخدمة</span></a>
                        </li>

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/ServiceApprovedMilstone/Index"><i class="feather icon-check-circle"></i><span class="menu-item" data-i18n="eCommerce">جدول مراحل كل مشروع<br /> وتكلفة كل مرحلة</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/Payment6"><i class="feather icon-server"></i><span class="menu-item" data-i18n="eCommerce">عدد الخدمات المطلوبة</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/ClientImage/Index"><i class="feather icon-copy"></i><span class="menu-item" data-i18n="eCommerce">مراحل مشاريع العملاء</span></a>
                        </li>
                    </ul>
                </li>


                <li class=" nav-item">
                    <a href="#"><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">العقود وعروض الأسعار</span></a>

                    <ul class="menu-content">
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/ServicesOffers/Index"><i class="feather icon-umbrella"></i><span class="menu-item" data-i18n="eCommerce"> عروض الأسعار</span></a>
                        </li>

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/noOffersByService"><i class="feather icon-headphones"></i><span class="menu-item" data-i18n="eCommerce">عدد عروض الاسعار</span></a>
                        </li>


                        <li class=" nav-item">
                            <a class="ac" href="/Admin/ServicesApproved/Index"><i class="feather icon-shopping-cart"></i><span class="menu-item" data-i18n="eCommerce">العقود</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/noOffersByServiceApproved"><i class="feather icon-user-check"></i><span class="menu-item" data-i18n="eCommerce">عدد العقود المبرمة<br /> </span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/noOffersByServiceRejected"><i class="feather icon-user-check"></i><span class="menu-item" data-i18n="eCommerce">عدد العروض المرفوضة</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/collectiveReport"><i class="feather icon-user-check"></i><span class="menu-item" data-i18n="eCommerce">تحليل العروض   </span></a>
                        </li>



                    </ul>
                </li>



                <li class=" nav-item">
                    <a href="#"><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">المدفوعات</span></a>

                    <ul class="menu-content">

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/Payment"><i class="feather icon-user"></i><span class="menu-item" data-i18n="eCommerce">المدفوعات لمقدمي الخدمة</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/Payment2"><i class="feather icon-users"></i><span class="menu-item" data-i18n="Analytics"> المدوعات لمن اشرف عليهم<br /> ممثلي الخدمة</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/Payment3"><i class="feather icon-octagon"></i><span class="menu-item" data-i18n="eCommerce"> المدفعوت للعميل </span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/Payment4"><i class="feather icon-layers"></i><span class="menu-item" data-i18n="eCommerce"> اجمالي المدفوعات</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/Payment5"><i class="feather icon-layers"></i><span class="menu-item" data-i18n="eCommerce">اجمالي المدفوعات بالخدمة </span></a>
                        </li>



                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Home/New"><i class="feather icon-shopping-cart"></i><span class="menu-item" data-i18n="eCommerce">مدفوعات مراحل المشاريع</span></a>
                        </li>

                    </ul>
                </li>


                <li class=" nav-item">
                    <a href="#"><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">الرسائل والاشعارات</span></a>

                    <ul class="menu-content">


                        <li class=" nav-item">
                            <a class="ac" href="/Admin/LastDevelopment/Index"><i class="feather icon-umbrella"></i><span class="menu-item" data-i18n="eCommerce">اخر تطوراتنا </span></a>
                        </li>







                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Advertisment/Index"><i class="feather icon-tv"></i><span class="menu-item" data-i18n="eCommerce">الاعلانات</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Advice/Index"><i class="feather icon-umbrella"></i><span class="menu-item" data-i18n="eCommerce">النصائح</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Notification/Index"><i class="feather icon-umbrella"></i><span class="menu-item" data-i18n="eCommerce">الاشعارات/ اشعارات لمقدم<br />  و ممثل الخدمة</span></a>
                        </li>
                        <li class=" nav-item">
                            <a class="ac" href="/Admin/Complains/Index"><i class="feather icon-headphones"></i><span class="menu-item" data-i18n="eCommerce">الشكاوي</span></a>
                        </li>

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/WhoWeAre/Index"><i class="feather icon-headphones"></i><span class="menu-item" data-i18n="eCommerce">من نحن</span></a>
                        </li>

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/TermsOfUse/Index"><i class="feather icon-headphones"></i><span class="menu-item" data-i18n="eCommerce">شروط الاستخدام</span></a>
                        </li>

                        <li class=" nav-item">
                            <a class="ac" href="/Admin/ContactUs/Index"><i class="feather icon-headphones"></i><span class="menu-item" data-i18n="eCommerce">تواصل معنا</span></a>
                        </li>


                    </ul>
                </li>













            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->
    <!-- BEGIN: Main Menu-->
    @*<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mr-auto">
                        <a class="navbar-brand" href="~/Admin/html/rtl/vertical-menu-template-dark/index.html">
                            <div class="brand-logo"></div>
                            <h2 class="brand-text mb-0">Vuexy</h2>
                        </a>
                    </li>
                    <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
                </ul>
            </div>
            <div class="shadow-bottom"></div>
            <div class="main-menu-content">
                <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                    <li class=" nav-item">
                        <a href="index.html"><i class="feather icon-home"></i><span class="menu-title" data-i18n="Dashboard">Dashboard</span><span class="badge badge badge-warning badge-pill float-right mr-2">2</span></a>
                        <ul class="menu-content">
                            <li>
                                <a href="dashboard-analytics.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Analytics">Analytics</span></a>
                            </li>
                            <li>
                                <a href="dashboard-ecommerce.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="eCommerce">eCommerce</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" navigation-header">
                        <span>Apps</span>
                    </li>
                    <li class=" nav-item">
                        <a href="app-email.html"><i class="feather icon-mail"></i><span class="menu-title" data-i18n="Email">Email</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="app-chat.html"><i class="feather icon-message-square"></i><span class="menu-title" data-i18n="Chat">Chat</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="app-todo.html"><i class="feather icon-check-square"></i><span class="menu-title" data-i18n="Todo">Todo</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="app-calender.html"><i class="feather icon-calendar"></i><span class="menu-title" data-i18n="Calender">Calender</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="#"><i class="feather icon-shopping-cart"></i><span class="menu-title" data-i18n="Ecommerce">Ecommerce</span></a>
                        <ul class="menu-content">
                            <li>
                                <a href="app-ecommerce-shop.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Shop">Shop</span></a>
                            </li>
                            <li>
                                <a href="app-ecommerce-details.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Details">Details</span></a>
                            </li>
                            <li>
                                <a href="app-ecommerce-wishlist.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Wish List">Wish List</span></a>
                            </li>
                            <li>
                                <a href="app-ecommerce-checkout.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Checkout">Checkout</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" nav-item">
                        <a href="#"><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">User</span></a>
                        <ul class="menu-content">
                            <li>
                                <a href="app-user-list.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="List">List</span></a>
                            </li>
                            <li>
                                <a href="app-user-view.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="View">View</span></a>
                            </li>
                            <li>
                                <a href="app-user-edit.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Edit">Edit</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" navigation-header">
                        <span>UI Elements</span>
                    </li>
                    <li class=" nav-item">
                        <a href="#"><i class="feather icon-list"></i><span class="menu-title" data-i18n="Data List">Data List</span><span class="badge badge badge-primary badge-pill float-right mr-2">New</span></a>
                        <ul class="menu-content">
                            <li>
                                <a href="data-list-view.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="List View">List View</span></a>
                            </li>
                            <li>
                                <a href="data-thumb-view.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Thumb View">Thumb View</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" nav-item">
                        <a href="#"><i class="feather icon-layout"></i><span class="menu-title" data-i18n="Content">Content</span></a>
                        <ul class="menu-content">
                            <li>
                                <a href="content-grid.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Grid">Grid</span></a>
                            </li>
                            <li>
                                <a href="content-typography.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Typography">Typography</span></a>
                            </li>
                            <li>
                                <a href="content-text-utilities.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Text Utilities">Text Utilities</span></a>
                            </li>
                            <li>
                                <a href="content-syntax-highlighter.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Syntax Highlighter">Syntax Highlighter</span></a>
                            </li>
                            <li>
                                <a href="content-helper-classes.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Helper Classes">Helper Classes</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" nav-item">
                        <a href="colors.html"><i class="feather icon-droplet"></i><span class="menu-title" data-i18n="Colors">Colors</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="#"><i class="feather icon-eye"></i><span class="menu-title" data-i18n="Icons">Icons</span></a>
                        <ul class="menu-content">
                            <li>
                                <a href="icons-feather.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Feather">Feather</span></a>
                            </li>
                            <li>
                                <a href="icons-font-awesome.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Font Awesome">Font Awesome</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" nav-item">
                        <a href="#"><i class="feather icon-credit-card"></i><span class="menu-title" data-i18n="Card">Card</span></a>
                        <ul class="menu-content">
                            <li>
                                <a href="card-basic.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Basic">Basic</span></a>
                            </li>
                            <li>
                                <a href="card-advance.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Advance">Advance</span></a>
                            </li>
                            <li>
                                <a href="card-statistics.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Statistics">Statistics</span></a>
                            </li>
                            <li>
                                <a href="card-analytics.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Analytics">Analytics</span></a>
                            </li>
                            <li>
                                <a href="card-actions.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Card Actions">Card Actions</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" nav-item">
                        <a href="#"><i class="feather icon-briefcase"></i><span class="menu-title" data-i18n="Components">Components</span></a>
                        <ul class="menu-content">
                            <li>
                                <a href="component-alerts.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Alerts">Alerts</span></a>
                            </li>
                            <li>
                                <a href="component-buttons-basic.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Buttons">Buttons</span></a>
                            </li>
                            <li>
                                <a href="component-breadcrumbs.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Breadcrumbs">Breadcrumbs</span></a>
                            </li>
                            <li>
                                <a href="component-carousel.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Carousel">Carousel</span></a>
                            </li>
                            <li>
                                <a href="component-collapse.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Collapse">Collapse</span></a>
                            </li>
                            <li>
                                <a href="component-dropdowns.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Dropdowns">Dropdowns</span></a>
                            </li>
                            <li>
                                <a href="component-list-group.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="List Group">List Group</span></a>
                            </li>
                            <li>
                                <a href="component-modals.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Modals">Modals</span></a>
                            </li>
                            <li>
                                <a href="component-pagination.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Pagination">Pagination</span></a>
                            </li>
                            <li>
                                <a href="component-navs-component.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Navs Component">Navs Component</span></a>
                            </li>
                            <li>
                                <a href="component-navbar.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Navbar">Navbar</span></a>
                            </li>
                            <li>
                                <a href="component-tabs-component.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Tabs Component">Tabs Component</span></a>
                            </li>
                            <li>
                                <a href="component-pills-component.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Pills Component">Pills Component</span></a>
                            </li>
                            <li>
                                <a href="component-tooltips.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Tooltips">Tooltips</span></a>
                            </li>
                            <li>
                                <a href="component-popovers.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Popovers">Popovers</span></a>
                            </li>
                            <li>
                                <a href="component-badges.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Badges">Badges</span></a>
                            </li>
                            <li>
                                <a href="component-pill-badges.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Pill Badges">Pill Badges</span></a>
                            </li>
                            <li>
                                <a href="component-progress.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Progress">Progress</span></a>
                            </li>
                            <li>
                                <a href="component-media-objects.html"><i class="feather icon-circle"></i><span class="menu-item">Media Objects</span></a>
                            </li>
                            <li>
                                <a href="component-spinner.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Spinner">Spinner</span></a>
                            </li>
                            <li>
                                <a href="component-bs-toast.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Toasts">Toasts</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" nav-item">
                        <a href="#"><i class="feather icon-box"></i><span class="menu-title" data-i18n="Extra Components">Extra Components</span></a>
                        <ul class="menu-content">
                            <li>
                                <a href="ex-component-avatar.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Avatar">Avatar</span></a>
                            </li>
                            <li>
                                <a href="ex-component-chips.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Chips">Chips</span></a>
                            </li>
                            <li>
                                <a href="ex-component-divider.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Divider">Divider</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" navigation-header">
                        <span>Forms &amp; Tables</span>
                    </li>
                    <li class=" nav-item">
                        <a href="#"><i class="feather icon-copy"></i><span class="menu-title" data-i18n="Form Elements">Form Elements</span></a>
                        <ul class="menu-content">
                            <li>
                                <a href="form-select.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Select">Select</span></a>
                            </li>
                            <li>
                                <a href="form-switch.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Switch">Switch</span></a>
                            </li>
                            <li>
                                <a href="form-checkbox.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Checkbox">Checkbox</span></a>
                            </li>
                            <li>
                                <a href="form-radio.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Radio">Radio</span></a>
                            </li>
                            <li>
                                <a href="form-inputs.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Input">Input</span></a>
                            </li>
                            <li>
                                <a href="form-input-groups.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Input Groups">Input Groups</span></a>
                            </li>
                            <li>
                                <a href="form-number-input.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Number Input">Number Input</span></a>
                            </li>
                            <li>
                                <a href="form-textarea.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Textarea">Textarea</span></a>
                            </li>
                            <li>
                                <a href="form-date-time-picker.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Date &amp; Time Picker">Date &amp; Time Picker</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="active nav-item">
                        <a href="form-layout.html"><i class="feather icon-box"></i><span class="menu-title" data-i18n="Form Layout">Form Layout</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="form-wizard.html"><i class="feather icon-package"></i><span class="menu-title" data-i18n="Form Wizard">Form Wizard</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="form-validation.html"><i class="feather icon-check-circle"></i><span class="menu-title" data-i18n="Form Validation">Form Validation</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="table.html"><i class="feather icon-server"></i><span class="menu-title" data-i18n="Table">Table</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="table-datatable.html"><i class="feather icon-grid"></i><span class="menu-title" data-i18n="Datatable">Datatable</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="table-ag-grid.html"><i class="feather icon-grid"></i><span class="menu-title" data-i18n="ag-grid">agGrid Table</span><span class="badge badge badge-primary badge-pill float-right mr-2">New</span></a>
                    </li>
                    <li class=" navigation-header">
                        <span>pages</span>
                    </li>
                    <li class=" nav-item">
                        <a href="page-user-profile.html"><i class="feather icon-user"></i><span class="menu-title" data-i18n="Profile">Profile</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="page-account-settings.html"><i class="feather icon-settings"></i><span class="menu-title" data-i18n="Account Settings">Account Settings</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="page-faq.html"><i class="feather icon-help-circle"></i><span class="menu-title" data-i18n="FAQ">FAQ</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="page-knowledge-base.html"><i class="feather icon-info"></i><span class="menu-title" data-i18n="Knowledge Base">Knowledge Base</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="page-search.html"><i class="feather icon-search"></i><span class="menu-title" data-i18n="Search">Search</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="page-invoice.html"><i class="feather icon-file"></i><span class="menu-title" data-i18n="Invoice">Invoice</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="#"><i class="feather icon-zap"></i><span class="menu-title" data-i18n="Starter kit">Starter kit</span></a>
                        <ul class="menu-content">
                            <li>
                                <a href="~/Admin/starter-kit/rtl/vertical-menu-template-dark/sk-layout-2-columns.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="2 columns">2 columns</span></a>
                            </li>
                            <li>
                                <a href="~/Admin/starter-kit/rtl/vertical-menu-template-dark/sk-layout-fixed-navbar.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Fixed navbar">Fixed navbar</span></a>
                            </li>
                            <li>
                                <a href="~/Admin/starter-kit/rtl/vertical-menu-template-dark/sk-layout-floating-navbar.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Floating navbar">Floating navbar</span></a>
                            </li>
                            <li>
                                <a href="~/Admin/starter-kit/rtl/vertical-menu-template-dark/sk-layout-fixed.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Fixed layout">Fixed layout</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" nav-item">
                        <a href="#"><i class="feather icon-unlock"></i><span class="menu-title" data-i18n="Authentication">Authentication</span></a>
                        <ul class="menu-content">
                            <li>
                                <a href="auth-login.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Login">Login</span></a>
                            </li>
                            <li>
                                <a href="auth-register.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Register">Register</span></a>
                            </li>
                            <li>
                                <a href="auth-forgot-password.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Forgot Password">Forgot Password</span></a>
                            </li>
                            <li>
                                <a href="auth-reset-password.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Reset Password">Reset Password</span></a>
                            </li>
                            <li>
                                <a href="auth-lock-screen.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Lock Screen">Lock Screen</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" nav-item">
                        <a href="#"><i class="feather icon-file-text"></i><span class="menu-title" data-i18n="Miscellaneous">Miscellaneous</span></a>
                        <ul class="menu-content">
                            <li>
                                <a href="page-coming-soon.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Coming Soon">Coming Soon</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Error">Error</span></a>
                                <ul class="menu-content">
                                    <li>
                                        <a href="error-404.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="404">404</span></a>
                                    </li>
                                    <li>
                                        <a href="error-500.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="500">500</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="page-not-authorized.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Not Authorized">Not Authorized</span></a>
                            </li>
                            <li>
                                <a href="page-maintenance.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Maintenance">Maintenance</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" navigation-header">
                        <span>Charts &amp; Maps</span>
                    </li>
                    <li class=" nav-item">
                        <a href="#"><i class="feather icon-pie-chart"></i><span class="menu-title" data-i18n="Charts">Charts</span><span class="badge badge badge-pill badge-success float-right mr-2">3</span></a>
                        <ul class="menu-content">
                            <li>
                                <a href="chart-apex.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Apex">Apex</span></a>
                            </li>
                            <li>
                                <a href="chart-chartjs.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Chartjs">Chartjs</span></a>
                            </li>
                            <li>
                                <a href="chart-echarts.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Echarts">Echarts</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" nav-item">
                        <a href="maps-google.html"><i class="feather icon-map"></i><span class="menu-title" data-i18n="Google Maps">Google Maps</span></a>
                    </li>
                    <li class=" navigation-header">
                        <span>Extensions</span>
                    </li>
                    <li class=" nav-item">
                        <a href="ext-component-sweet-alerts.html"><i class="feather icon-alert-circle"></i><span class="menu-title" data-i18n="Sweet Alert">Sweet Alert</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="ext-component-toastr.html"><i class="feather icon-zap"></i><span class="menu-title" data-i18n="Toastr">Toastr</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="ext-component-noui-slider.html"><i class="feather icon-sliders"></i><span class="menu-title" data-i18n="NoUi Slider">NoUi Slider</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="ext-component-file-uploader.html"><i class="feather icon-upload-cloud"></i><span class="menu-title" data-i18n="File Uploader">File Uploader</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="ext-component-quill-editor.html"><i class="feather icon-edit"></i><span class="menu-title" data-i18n="Quill Editor">Quill Editor</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="ext-component-drag-drop.html"><i class="feather icon-droplet"></i><span class="menu-title" data-i18n="Drag &amp; Drop">Drag &amp; Drop</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="ext-component-tour.html"><i class="feather icon-info"></i><span class="menu-title" data-i18n="Tour">Tour</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="ext-component-clipboard.html"><i class="feather icon-copy"></i><span class="menu-title" data-i18n="Clipboard">Clipboard</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href=" ext-component-plyr.html"><i class="feather icon-film"></i><span class="menu-title" data-i18n="Media player">Media player</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="ext-component-context-menu.html"><i class="feather icon-more-horizontal"></i><span class="menu-title" data-i18n="Context Menu">Context Menu</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="ext-component-swiper.html"><i class="feather icon-smartphone"></i><span class="menu-title" data-i18n="swiper">swiper</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="ext-component-i18n.html"><i class="feather icon-globe"></i><span class="menu-title" data-i18n="l18n">l18n</span></a>
                    </li>
                    <li class=" navigation-header">
                        <span>Others</span>
                    </li>
                    <li class=" nav-item">
                        <a href="#"><i class="feather icon-menu"></i><span class="menu-title" data-i18n="Menu Levels">Menu Levels</span></a>
                        <ul class="menu-content">
                            <li>
                                <a href="#"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Second Level">Second Level</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Second Level">Second Level</span></a>
                                <ul class="menu-content">
                                    <li>
                                        <a href="#"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Third Level">Third Level</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Third Level">Third Level</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="disabled nav-item">
                        <a href="#"><i class="feather icon-eye-off"></i><span class="menu-title" data-i18n="Disabled Menu">Disabled Menu</span></a>
                    </li>
                    <li class=" navigation-header">
                        <span>Support</span>
                    </li>
                    <li class=" nav-item">
                        <a href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/documentation"><i class="feather icon-folder"></i><span class="menu-title" data-i18n="Documentation">Documentation</span></a>
                    </li>
                    <li class=" nav-item">
                        <a href="https://pixinvent.ticksy.com/"><i class="feather icon-life-buoy"></i><span class="menu-title" data-i18n="Raise Support">Raise Support</span></a>
                    </li>
                </ul>
            </div>
        </div>*@
    <!-- END: Main Menu-->
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            @*<div class="content-header row">
                    <div class="content-header-left col-md-9 col-12 mb-2">
                        <div class="row breadcrumbs-top">
                            <div class="col-12">
                                <h2 class="content-header-title float-left mb-0">Thumb View</h2>
                                <div class="breadcrumb-wrapper col-12">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="index.html">Home</a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="#">Data List</a>
                                        </li>
                                        <li class="breadcrumb-item active">
                                            Thumb View
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                        <div class="form-group breadcrum-right">
                            <div class="dropdown">
                                <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings"></i></button>
                                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Chat</a><a class="dropdown-item" href="#">Email</a><a class="dropdown-item" href="#">Calendar</a></div>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="content-body">
                <!-- Data list view starts -->
                <section id="data-thumb-view" class="data-thumb-view-header">
                    <div class="action-btns d-none">
                        <div class="btn-dropdown mr-1 mb-1">
                            <div class="btn-group dropdown actions-dropodown">
                                @*<a asp-controller="Law" asp-action="Form"><button class="btn btn-primary mr-1 mb-1">اضف قانون جديدة</button></a>*@
                            </div>
                        </div>
                    </div>
                      <div class="action-btns d-none">
                        <div class="btn-dropdown mr-1 mb-1">
                            <div class="btn-group dropdown actions-dropodown">
                              
                            </div>
                        </div>
                    </div>

                         <div class="row">

                              @*  <div class="col-md-6 form-group">
                                    <label class="col-sm-1 control-label">طالب الخدمة</label>
                                    <div class="col-sm-11 form-group">
                                @Html.DropDownList("Id", (new SelectList(ViewBag.cities , "Id" , "Email")), "اختر" , new { @class = "form-control select2 col-sm-9 form-control", id = "CourseDdl" })
                                    </div>
                                </div>*@




                                <div class="col-md-3 form-group">
                            <label class="col-sm-1 control-label">من تاريخ</label>
                            <div class="col-sm-11 form-group">
                                <input id="CourseDdl2" type="datetime-local" required />
                            </div>
                        </div>
                                <div class="col-md-3 form-group">
                            <label class="col-sm-1 control-label">الي تاريخ</label>
                            <div class="col-sm-11 form-group">
                                <input id="CourseDdl3" type="datetime-local" required />
                            </div>
                        </div>


                         </div>
                    <!-- dataTable starts -->
                    <div class="table-responsive">
                        <table class="table data-thumb-view">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>نوع المستخدم</th>
                                    <th>اسم المستخدم</th>
                                    <th>الايميل</th>
                                   
                                     <th>المدينة</th>
                                   
                                    <th>رقم الجوال</th>
                                    <th>الحالة</th>
                                    @*<th>FirstName</th>
                                        <th>LastName</th>
                                        <th>CityName</th>
                                        <th>ServiceName</th>
                                        <th>Area Name</th>
                                        <th>Gender</th>
                                        <th>RyadahOrNot</th>
                                        <th>BirthDate</th>
                                        <th>DocumentA</th>
                                        <th>DocumentB</th>
                                        <th>DocumentC</th>
                                        <th>DocumentD</th>
                                        <th>StateName</th>*@
                                    <th>ادوات</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.lstUsers)
                                {


                                    <tr>
                                        <td></td>

                                        @*<td class="product-name">@item.CompanyDescription</td>*@
                                        <td class="product-category">@item.StateName</td>
                                        <td class="product-category">@item.UserName</td>
                                        <td class="product-category">@item.Email</td>
                                        
                                         <td class="product-category">@item.CityName</td>
                                       
                                        <td class="product-category">@item.PhoneNumber</td>
                                        <td class="product-category">@item.ServiceName</td>
                                        @*<td class="product-category">@item.FirstName</td>
                                            <td class="product-category">@item.LastName</td>
                                            <td class="product-category">@item.CityName</td>
                                            <td class="product-category">@item.ServiceName</td>
                                            <td class="product-category">@item.AreaName</td>
                                            <td class="product-category">@item.Gender</td>
                                            <td class="product-category">@item.RyadahOrNot</td>
                                            <td class="product-category">@item.BirthDate</td>
                                            <td class="product-img">
                                                <a href="@string.Format("/Uploads/{0}",item.DocumentA)" class="btn btn-primary">Read Now</a>
                                            </td>
                                            <td class="product-img">
                                                <a href="@string.Format("/Uploads/{0}",item.DocumentB)" class="btn btn-primary">Read Now</a>
                                            </td>
                                            <td class="product-img">
                                                <a href="@string.Format("/Uploads/{0}",item.DocumentC)" class="btn btn-primary">Read Now</a>
                                            </td>
                                            <td class="product-img">
                                                <a href="@string.Format("/Uploads/{0}",item.DocumentD)" class="btn btn-primary">Read Now</a>
                                            </td>
                                            <td class="product-category">@item.StateName</td>*@






                                        <td class="product-action">
                                            <a asp-controller="SrReq" asp-action="EditUsers" asp-route-id="@item.Id"><span><i class="feather icon-edit"></i></span></a>
                                            <a asp-controller="SrReq" asp-action="Delete" asp-route-id="@item.Id"><span class="action-delete"><i class="feather icon-trash"></i></span></a>
                                           

                                        </td>
                                        @*<td>
                                                <div class="progress progress-bar-success">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:97%"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="chip chip-warning">
                                                    <div class="chip-body">
                                                        <div class="chip-text">on hold</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="product-price">$69.99</td>*@
                                        @*<td class="product-action">
                                                <a asp-controller="Law" asp-action="Form" asp-route-id="@item.LawId"><span><i class="feather icon-edit"></i></span></a>
                                                <a asp-controller="Level" asp-action="Form" asp-route-id="@item.LawId"><span>اضف مستوي</span></a>
                                                <a asp-controller="Law" asp-action="Delete" asp-route-id="@item.LawId"><span class="action-delete"><i class="feather icon-trash"></i></span></a>
                                            </td>*@
                                    </tr>


                                }






                            </tbody>
                        </table>
                    </div>
                    <!-- dataTable ends -->
                    <!-- add new sidebar starts -->
                    <!-- add new sidebar ends -->
                </section>
                <!-- Data list view end -->

            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix blue-grey lighten-2 mb-0">
            <span class="float-md-left d-block d-md-inline-block mt-25"><a class="text-bold-800 grey darken-2" href="https://visooft.com/" target="_blank"></a></span><span class="float-md-right d-none d-md-block"><a class="text-bold-800 grey darken-2" href="https://visooft.com/" target="_blank">جميع الحقوق محفوظة لـ رؤي برمجية</a></span><i class="feather icon-heart pink"></i></span>
            <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="feather icon-arrow-up"></i></button>
        </p>
    </footer>
    <!-- END: Footer-->
    <!-- BEGIN: Vendor JS-->
    <script src="~/Admin/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="~/Admin/app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <script src="~/Admin/app-assets/vendors/js/extensions/tether.min.js"></script>
    <script src="~/Admin/app-assets/vendors/js/extensions/shepherd.min.js"></script>
    <script src="~/Admin/app-assets/vendors/js/extensions/dropzone.min.js"></script>
    <script src="~/Admin/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="~/Admin/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="~/Admin/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <script src="~/Admin/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js"></script>
    <script src="~/Admin/app-assets/vendors/js/tables/datatable/dataTables.select.min.js"></script>
    <script src="~/Admin/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="~/Admin/app-assets/js/core/app-menu.js"></script>
    <script src="~/Admin/app-assets/js/core/app.js"></script>
    <script src="~/Admin/app-assets/js/scripts/components.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/Admin/app-assets/js/scripts/ui/data-list-view.js"></script>
    <script src="~/Admin/app-assets/js/scripts/pages/dashboard-analytics.js"></script>
    <!-- END: Page JS-->
    <script>
        var url = '@Url.Action("ListUsers", "SrOffAndSrRep")';
        //var url = window.location.href;

        $("#CourseDdl").change(function () {
            //var end = this.value;
            var end2 = $("#CourseDdl2").val();

            //if (end2 === "") {
            //    alert("choose date from");
            //}

            var end3 = $("#CourseDdl3").val();
            //if (end3 === "") {
            //    alert("choose date to");
            //}

            //location.replace(url+ "/?Id=" + this.value);
            //location.replace(url + "/?CourseId=" + this.value);

            //$("#CourseDdl2").on("change keyup paste", function () {
            //    var end2 = this.value;
            //    location.replace(url + "/?Id=" + $("#CourseDdl").value + "/?DateOne=" + this.value);
            //})
        });
        $("#CourseDdl2").change(function () {
            var end2 = $("#CourseDdl2").val();

            var end = $("#CourseDdl").val();

            var end3 = $("#CourseDdl3").val();
            //if (end3 === "") {
            //    alert("choose date to");
            //}

            //location.replace(url + "/?Id=" + end + "&DateOne=" + end2);
        });

        $("#CourseDdl3").change(function () {
            var end2 = $("#CourseDdl2").val();
            //if (end2 === "") {
            //    alert("choose date from");
            //}

            end2 = $("#CourseDdl2").val();

            var end = $("#CourseDdl").val();

            var end3 = $("#CourseDdl3").val();


            location.replace(url + "/?DateOne=" + end2 + "&DateTwo=" + end3);

        });
    </script>
     <script type="text/javascript">
        var currentlocation =location.href;
        var header = document.getElementById("main-menu-navigation");
          
        var btns = document.querySelectorAll(".ac");
       
        console.log(currentlocation);
        console.log(header);
        console.log(btns.length);
        console.log(btns);
        console.log(btns[0].href);
        console.log(btns[0].parentNode);
        for (let i = 0; i < btns.length; i++) {
           
             if(btns[i].href  === currentlocation) {
              
                    //var current = document.getElementsByClassName("active");
                  
                    //current[0].className = current[0].className.replace(" active", "");
                console.log(btns[0].parentNode.className);
                btns[i].parentNode.className ='active';
                console.log(btns[0].parentNode.className);
              
                   
              
               
            }
           
       }
    </script>
</body>
<!-- END: Body-->

</html>